*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Eclipse
/.settings/
/.project
/.classpath

/target/
/output/
/test/output/
/bin/

# IntelliJ
/.idea/
*.iml
Via-24.1.0/libs/ffmpeg-6.1.1-1.5.10-linux-ppc64le.jar
scenarios/utah/output160k/output_events.xml.gz
Via-24.1.0/jre11/lib/modules
scenarios/utah/output160k/ITERS/it.1/1.plans.xml.gz
josm-tested.jar
Via-24.1.0/libs/ffmpeg-6.1.1-1.5.10-linux-x86_64.jar
Via-24.1.0/libs/jython-2.7.3.jar
matsim-example-project-0.0.1-SNAPSHOT.jar
Via-24.1.0/libs/fastutil-8.5.13.jar
scenarios/utah/output160k/ITERS/it.10/10.events.xml.gz
Via-24.1.0/libs/ffmpeg-6.1.1-1.5.10-linux-arm64.jar
scenarios/utah/output160k/ITERS/it.0/0.events.xml.gz
Via-24.1.0/jre11/lib/server/libjvm.so
osm2matsim/input/cleaned.osm
scenarios/utah/output160k/output_plans.xml.gz
scenarios/utah/output160k/ITERS/it.0/0.plans.xml.gz
osm2matsim/input/paulista.osm
