*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
# *.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Eclipse
/.settings/
/.project
/.classpath

/target/
/output/
/test/output/
/bin/

# IntelliJ
/.idea/
*.iml


___MANUALADDFILES___



0.events.xml.gz
output_events.xml.gz
ffmpeg-6.1.1-1.5.10-linux-ppc64le.jar
modules
libjvm.so
ffmpeg-6.1.1-1.5.10-linux-arm64.jar
fastutil-8.5.13.jar
paulista.osm
multi-agent-transport-simulation.pdf
output_plans.xml.gz
1.plans.xml.gz
10.events.xml.gz
ffmpeg-6.1.1-1.5.10-linux-x86_64.jar
josm-tested.jar
cleaned.osm
jython-2.7.3.jar
matsim-example-project-0.0.1-SNAPSHOT.jar
0.plans.xml.gz
4.charger_occupancy_absolute.xy.gz
2.charger_occupancy_absolute.xy.gz
10.charger_occupancy_absolute.xy.gz
11.charger_occupancy_absolute.xy.gz
1.charger_occupancy_absolute.xy.gz
9.charger_occupancy_absolute.xy.gz
17.charger_occupancy_absolute.xy.gz
20.charger_occupancy_absolute.xy.gz
7.charger_occupancy_absolute.xy.gz
19.charger_occupancy_absolute.xy.gz
18.charger_occupancy_absolute.xy.gz
13.charger_occupancy_absolute.xy.gz
0.charger_occupancy_absolute.xy.gz
15.charger_occupancy_absolute.xy.gz
5.charger_occupancy_absolute.xy.gz
8.charger_occupancy_absolute.xy.gz
3.charger_occupancy_absolute.xy.gz
16.charger_occupancy_absolute.xy.gz
12.charger_occupancy_absolute.xy.gz
6.charger_occupancy_absolute.xy.gz
14.charger_occupancy_absolute.xy.gz
matsim-examples-2025.0-SNAPSHOT.jar
